{% extends "layout.twig" %}

{% block content %}
    <h1>Вставка, удаление записей в таблице Users</h1>
    <form action="" method="post" enctype="multipart/form-data">
        <input type="text" name="login" id="login">
        <input type="submit">
    </form>
{% endblock %}