<html>
<head>
    <script language="javascript">
        function setNewAction(selectOption)
        {
            for(var i = 0 ; i < selectOption.length ; i++)
            {
                if(selectOption[i].selected)
                {
                    document.forms[0].action ='/'+selectOption[i].value;
                }
            }
            document.forms[0].submit();
        }
    </script>
</head>
</body>
<form name="form1" id="my_form" method="get" action="">
    <p>
        <label>Выберите таблицу</label>
        <select id="sel_tab_del" name="tables_del">
            <option value="users" selected>Users</option>
            <option value="orders">Orders</option>
            <option value="products">Products</option>
        </select><br>
    </p>
    <input type="button" id="butt" value="CLICK ME"
           onClick="setNewAction(this.form.tables_del)">
</form>
</body>
</html>